.rdp {
  margin: 0;
}

.rdp-months {
  display: flex;
}

.rdp-month {
  background-color: var(--background);
  border-radius: theme('borderRadius.lg');
  padding: theme('spacing.4');
}

.rdp-month:first-child {
  margin-left: 0;
}

.rdp:not([dir='rtl']) .rdp-day_range_end.rdp-day_range_start {
  border-radius: theme('borderRadius.lg');
}

.rdp-nav_button {
  width: theme('width.8');
  height: theme('height.8');
  padding: 0;
}

.rdp-caption {
  padding: theme('spacing.2');
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rdp-multiple_months .rdp-caption {
  position: relative;
  padding: theme('spacing.2') theme('spacing.4');
}

.rdp-caption_dropdowns {
  display: flex;
  gap: theme('spacing.1');
}